@font-face {
  font-family: 'iviSans';
  src: local('iviSans'), local('iviSans'),
  url('../assets/fonts/iviSans-Regular.woff2') format('woff2'),
  url('../assets/fonts/iviSans-Regular.woff') format('woff'),
  url('../assets/fonts/iviSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
