@import 'variable';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: $body-background-color;
  color: $white;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1215px;
  margin: 0 auto;
}
.list {
  margin: 0;
}
.list__title {
  margin: 0 0 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}
.list__items {
}
.list__item {
  margin: 8px 0 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $grey;
}
.list__link {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.list__link_type_grey {
  color: $grey;
  transition: all ease 0.5s;
}
.list__link_type_grey:hover {
  color: $white;
}
.list__link_type_white {
  color: $white;
  transition: all ease 0.5s;
}
.list__link_type_white:hover {
  color: $grey;
}
