$body-background-color: #100e19;
$container-background-color: #191329;
$component-background-color: #2d2543;
$border-color: #3f3b4d;
$white: #fff;
$red: #eb0039;
$grey: #9e9aab;
$grey-lighter: #d9d7e0;
$violet: #1f1b2e;
$btnHover: #2e2844;
