@import 'src/styles/variable';
.input__block{
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  input{
   padding: 10px;
    background-color:$grey;
    border-radius:5px;
    outline: none;
  }
}
