@import '../../styles/variable.scss';

.footer {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__buttonText {
    margin: 0;
  }
  .footer__image {
    align-self: center;
    width: 104px;
    height: 104px;
    border-radius: 20px;
    display: flex;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(#a869f0)),
      to(var(--end-gradient-color))
    );
    background: -webkit-linear-gradient(
      top,
      var(#a869f0) 0%,
      var(#834cc2) 100%
    );
    background: -o-linear-gradient(top, #a869f0 0%, #834cc2 100%);
    background: linear-gradient(180deg, #a869f0 0%, #834cc2 100%);
    box-shadow: 0 0 104px #a869f0;
  }
  .footer__icon {
    background-image: url('../../assets/img/icons/megaphone.svg');
    width: 56px;
    height: 56px;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer__text {
    text-align: center;
    max-width: 280px;
  }
}
