@import 'src/styles/variable';
.filters {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  background-color:$container-background-color;
  padding: 10px;
  .filters_selects{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-gap: 15px;
    align-items: center;

  }
  .filters__inputs{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

}

