@import "src/styles/variable";

.name{
  color:$white
}
.slider {
  position: relative;
  background-color: $component-background-color;
  width: 100%;
  height: 8px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;

  .slider__progress {
    height: 8px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    background: $grey;
    transform: translate(0, -50%);
  }

  .slider__thumb {
    background-color: $white;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 4;
    top: 50%;
    margin-left: -5px;
    transform: translate(0, -50%);

    .slider__value {
      color: $white;
      font-size: 12px;
      font-weight: 700;
      position: absolute;
      left: 0;
      top: calc(100% + 6px);
      text-align: center;
      width: 100%;
      pointer-events: none;
      cursor: default;
    }

    .slider__steps {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      position: absolute;
      top: calc(100% - 2px);
      left: 0;
      right: 0;

      span {
        background-color: $grey;
        display: inline-flex;
        width: 2px;
        height: 9px;
        margin-left: -1px;
        transition: 0.2s height;
      }
    }
  }
}